Django==5.0.1
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Authentication
django-allauth==0.60.1
cryptography==45.0.5

# Forms
django-crispy-forms==2.1
crispy-bootstrap5==0.7

# Rich Text Editor
django-ckeditor-5==0.2.12
#Pillow==10.2.0

# Environment Variables
python-dotenv==1.0.0

# Static Files
whitenoise==6.6.0

# Production Server
gunicorn==21.2.0

# Database
psycopg2-binary==2.9.9

# Celery
celery==5.3.4
cloudinary-storage
#django-celery-beat==2.5.0
django-celery-beat==2.7.0
django-celery-results==2.5.0
redis==5.0.1
django-redis==5.4.0

# Media Storage
cloudinary==1.35.0
django-storages==1.14.2

# Filtering
django-filter==23.5

# Development
django-debug-toolbar==4.2.0

# Import/Export
django-import-export==3.3.6

# Activity Tracking
#django-activity-stream==2.0.1
django-activity-stream
#django-hitcount==1.4.1
django-hitcount

dj-database-url==2.2.0
qrcode[pil]==8.2
Faker==20.1.0
